<h2>Artist New Form</h2>
<%= form_for @artist do |f| %>
  <ul>
     <li>
     <%= f.label :name %>
     <%= f.text_field :name %>
     </li>
     <li>
     <%= f.label :bio %>
     <%= f.text_area :bio %>
     </li>
    <p align="left"><%= f.submit %></p>
  </ul><br>
<% end %>
<hr>
<% if @artist.errors.any? %>
<h3><%= "#{@artist.errors.count} error/s" %> prohibited this Artist from being saved:</h3>
  <ul>
    <% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
