<h2><%= "This is The #{@artist.name} Page" %></h2>
  <ul>
     <li>
     <h3>Artist's Name: <%= @artist.name %></h3>
     </li>
     <li>
     <h4>Artist's Bio: <%= @artist.bio %></h3>
     </li>
  </ul>
<h3><%= "#{@artist.name}'s Songs" %></h3>
<% @artist_songs.each do |song| %>
<ul>
   <li>
     <h3><%= link_to song.name, song %></h3>
   </li>
</ul>
<% end %>
<hr>
<p align="left"><%= link_to "Edit This Artist", edit_artist_path %></p>
<p align="left"><%= button_to "Delete This Artist", @artist, method: :delete %></p>
