<h2><%= "#{@song.name} Edit Form"%></h2>
<%= form_for @song do |f| %>
  <ul>
     <li>
     <%= f.label :name %>
     <%= f.text_field :name %>
     </li>
     <li>
     <%= f.label "Artist" %>
     <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>
     </li>
     <li>
     <%= f.label "Genre" %>
     <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
     </li>
    <p align="left"><%= f.submit %></p>
  </ul><br>
<% end %>
<hr>
<% if @song.errors.any? %>
  <h3><%= "#{@song.errors.count} error/s" %> prohibited this Song from being saved:</h3>
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
