<h2><%= "This is The #{@song.name} Page" %></h2>
  <ul>
     <li>
     <h3>Song's Name: <%= @song.name %></h3>
     </li>
     <li>
     <h3>Artist <%= link_to @song.artist.name, @song.artist %></h3>
     </li>
     <li>
     <h3>Genre <%= link_to @song.genre.name, @song.genre %></h3>
     </li>
  </ul>
<hr>
<h5><%= link_to "Edit This Song", edit_song_path %></h5>
<%= button_to "Delete This Song", @song, method: :delete %>
