<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <ol>
 <li>
 <h5><%= link_to "Artist Index", artists_path %></h5>
 </li>
 <li>
 <h5><%= link_to "Song Index", songs_path %></h5>
 </li>
 <li>
 <h5><%= link_to "Genre Index", genres_path %></h5>
 </li>
 </ol>
<hr>


<%= yield %>

</body>
</html>
